.grass-type-color{
    background-color: #3a8615;
}

.fire-type-color{
    background-color: #f49f16;
}

.water-type-color{
    background-color: #6890f0;
}

.electric-type-color{
    background-color: #f8d030;
}

.flying-type-color{
    background-color: #98d8d8;
}

.poison-type-color{
    background-color: #a040a0;
}

.bug-type-color{
    background-color: #1bbc39;
}

.normal-type-color{
    background-color: #a8a77a;
}

.steel-type-color{
    background-color: #b8b7cf;
}

.psychic-type-color{
    background-color: #f95587;
}

.ice-type-color{
    background-color: #98d8d8;
}

.ghost-type-color{
    background-color: #705898;
}

.dragon-type-color{
    background-color: #7038f8;
}

.dark-type-color{
    background-color: #705848;
}   

.fairy-type-color{
    background-color: #ee99ac;
}

.rock-type-color{
    background-color: #b8a038;
}

.ground-type-color{
    background-color: #fe7632;
}

.fighting-type-color{
    background-color: #c03028;
}

